#textFooter {
  color: #FFF951;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#conn {
  margin-bottom: 50px;
}

#email {
  margin-bottom: 50px;
}

footer {
  background-color: #323334;
  padding-top: 40px;
  bottom: 0px;
  color: #C1C1C2;
  font-family: Roboto;
  display: flex;
  justify-content: end;
  width: 100%;
}

.column {
  flex: 1 1 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: left;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

footer li {
  margin-bottom: 5px;
  text-decoration: none;
}



footer a {
  color: #C1C1C2 !important;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.logo {
  position:relative;
  z-index:1000;
}