#textFooter {
  color: #FFF951;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#conn {
  margin-bottom: 50px;
}

#email {
  margin-bottom: 50px;
}

#inputmdp {
  /* padding-top: 10px; */
}

#mdp {
  /* margin-top: 110px; */
}

footer {
  background-color: #323334;
  padding: 40px;
  bottom: 0px;
  color: #C1C1C2;
  font-family: Arial, sans-serif;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: end;
}

.column {
  flex: 1 1 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

footer p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  /* display: flex; */
  text-align: left;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #FFF951;

}

footer li {
  margin-bottom: 5px;
}



footer a {
  /* color: #808080; */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}