.sorting > a {
  font-size: 11px;
  text-decoration: none !important;
  color: black !important;
}
.sorting > a:hover {
  text-decoration: underline !important;
}

.sorting > ul {
  list-style-type: none;
}

.sorting > label {
  font-size: smaller;
  padding: 10px;
}

.sorting > li {
  font-size: 12px;
  font-weight: 600;
}

.sorting > label {
  font-size: 10px;
}
