a {
  font-size: 11px;
  text-decoration: none !important;
  color: black !important;
}
a:hover {
  text-decoration: underline !important;
}

ul {
  list-style-type: none;
}

label {
  font-size: smaller;
  padding: 10px;
}

li {
  font-size: 12px;
  font-weight: 600;
}

label {
  font-size: 10px;
}
